*{
    margin:0%;
    padding:0%;

}
body{
    min-height: 100vh;
    font-family: 'Nunito', sans-serif;;
    box-shadow: 13px 13px 15px;
    background-color:#5e3d3d;

   
    
}
nav ul{
    width:100%;
    list-style-type: style none;
    background-color: white;
}

ul li{
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
}
ul a{
    height: 100%; 
    padding: 0 30px;
    text-decoration: none;
    display:flex;
    color: black;
    
}
nav a:hover{
    background-color: rgb(209, 205, 205);
}
.nav-logo{
    height:50px;
    width: 100px;
  
    
}

.logo{
    background-image:url(logo.png) ;
    background-size: cover;
    height: 50px;
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    margin-left: 210px;
}

button{
     
   
    text-decoration:solid ;
    padding: 20px;
    margin:20px;
    border-radius: 10%;
    border: 3px solid rgb(253, 253, 253);
    height: 80px;
    width: 200px;
  
}


   


.btn{
    background-color:#f8b3b3;
    font-size: 20px;
    font-family: monserrat;
    cursor: pointer;
    color:rgb(255, 255, 255);
    align-items: center;
   
    
    
}
.btn:hover{
    background-color:#f49595;
    font-size: larger;
   
    
}
.info{
    font-size:xx-large;
    color:#ffffff;
    text-align: center;
    font-family: sans-serif;

  
}

    
h1{ 
    border-top: 2px solid black;
    align-self: first baseline;
    color:#f8b3b3;
    text-align: center;
    font-size: 3.5rem;
    
}  
img{
    width:100%;
    height: 200px;
}





